body {
    background-color: lightgray
    
}

.btn {
    margin: 5px;
    background-color: rgb(39, 129, 131);
    color: white
}

button,
div,
form,
input {
    margin: 10px;
}

#gifs {
    width: 70%;
}

img {
    margin: 5px;
}

#gif-form {
    float:  right;
}

.floatBox {
    float: left;
}
