body {
    background-color: lightgray
}

.btn,
#addButton {
    margin: 5px;
    background-color: rgb(39, 129, 131);
    color: white
}

#gifs {
    width: 70%;
}

img {
    margin: 5px;
}

#gif-form {
    float: right;
}

.floatBox {
    float: left;
}